/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.main-container {
    width: 350px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid #f6d365; /* Interesting card border color */
    background: linear-gradient(145deg, #a7a3e4, #dd85fd); /* Interesting card background gradient */
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #e9f7ef;
    border-color: #80bdff;
    outline: none;
    padding: 5px;

}

.requirements {
    font-size: 12px;
    color: #555;
    margin-bottom: 20px;
}

.requirements ul {
    padding-left: 20px;
}

.requirements li {
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#login {
    background-color: #167f0e;
    color: #fff;
    color: #fff;
    width: 80%;
    height: 1.5em;
    margin-top: 10px;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;

}

#googleBtn {
    background-color: #4127b6;
    color: #fff;
}

#signup-btn,
#signUpSubmit {
    background-color: #28a745;
    color: #fff;
    width: 80%;
    height: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}

#googleBtn i {
    margin-left: 10px;
}


#form.active {
    display: block;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.requirements {
    display: none;
    background-color: none;
    opacity: 1;
    border: none;
    padding: 1px;
    border-radius: 10px;
    width: 80%;
    margin-top: 1px;
    font-size: 10px;
    z-index: 2;
}

.requirements ul {
    margin: 0;
    padding-right: 5px;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.requirements ul li {
    margin-bottom: 1px;
    padding-bottom: 1px;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
    padding: 0px ;
    margin: 0px;
}

.icons {
    height: 20px;
    width: 20px;
    font-size: 15px;
    background-color: none;
    border-radius: 100%;
    /* opacity: 0.1; */
}

#Display:hover {
    /* background-color: #973ece; */
    color: #2c3faa;
    font-weight: bolder;
    font-size: 12px;
}
#Help   {
    padding-right: 1px;
    padding-bottom: 5px;
    margin-top:5px ;
    font-size: 10px;
    font-weight: bold;
}

#Display   {
    padding-bottom: 5px;
    font-size: 10px;
    font-weight: bold;

}

#Help:hover {
    /* background-color: #9b24e5; */
    color: #2c3faa;
    font-weight: bolder;
    font-size: 12px;

}

.icons:hover {
    /* background-color: #6d3590; */
    height: auto;
    width: 25px;


}

.icons img {
    height: auto;
    width: 20px;
}

#signUp{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1px;
    width: 90%;
    height: 100%;
    row-gap: 2px;

}
#signUp label {
    height: 1.2em;
    margin : 1px;
    padding: 1px;
}


#signUp input {
    height: 1.5em;
    margin: 1px;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1px;
    width: 300px;
    height: 85%;
    row-gap: 2px;
    background-color: rgb(206, 206, 239);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.login-container h2 {
    margin: 0 0 15px;
    text-align: center;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input {
    width: 80%;
    height: 2em;

    padding: 2px;
    margin: 2px 0 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    padding: 3px;
    margin: 1px;
    width: 95%;
    margin-top: 0px;

}
#signUpassword{
    height: 2em;
  
}

#form input{
    height: 1.5em;
    margin: 2px;

}

/* #login {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
} */

.fa-google-plus {
    padding-left: 5px;
    color: blue;
    font-size: 20px;
}

#googleBtn {
    /* width: 100%;
    padding: 10px;
    background-color: #283ba7;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px; */
    color: #fff;
    width: 80%;
    height: 1.5em;
    margin-top: 10px;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;

}

#signup-btn{
    background-color: #d588c3;
    /* border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    padding: 5px; */

}

.container {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    /* margin-right: 20px; */
    padding: 0px;
    background-color: #f7f7f7;
    user-select: none;
    overflow: hidden;
    
}

.dropdown-container {
    position: absolute;
    top: 0px;
    margin-right: 30px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    width: 150px;
    padding: 0px;
    gap: 5px;
}

.dropbtn {
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0dbec;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dropdown {
    padding: 10px;
    border-radius: 20px;
    background-color: #f0dbec;
    height: 20px;
    width: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;

}
.dropdown:hover {
    background-color:#e99cdbf3;

}

.dropdown-content {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 10px;
    flex-direction: column;
    margin-top: 20px;
    column-gap: 3px;
    /* align-items: ; */
    position: absolute;
    width: 200px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
    border: none;
    right: -5px;
    background-color: #f0dbec;

}

.messages  {
    padding: 10px;
    border-radius: 20px;
    background-color: #f0dbec;
    height: 20px;
    width: 20px;
} 
.messages:hover  {
    padding: 10px;
    border-radius: 20px;
    background-color:#e99cdbf3;
    height: 20px;
    width: 20px;
} 

.notification  {
    padding: 10px;
    border-radius: 30px;
    background-color: #f0dbec;
    height: 20px;
    width: 20px;
} 
.notification:hover  {
    padding: 10px;
    border-radius: 30px;
    background-color:#e99cdbf3;
    height: 20px;
    width: 20px;
} 

.insights  {
    padding: 10px;
    border-radius: 20px;
    background-color: #f0dbec;
    height: 20px;
    width: 20px;
} 

.insights:hover{
    height: 24px;
    background-color:#e99cdbf3;

    
}

.insights img:hover{
    height: 24px;
    width: 24px;
  
}

#picturebox{
padding: 0px;
margin: 0px;
display: flex;
justify-content: center;
align-items: center;
}

.dropicons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 20px;
    border-color: none;
    /* opacity: 1; */
}

.dropdown-content .icons {
    display: flex;
    align-items: center;
    background-color: none;
    /* opacity: 0.5; */
}

.dropdown-content .icons img {
    margin-right: 10px;
    background-color: none;
    /* opacity: 0.1; */
}

.dropdown-content .icons span {
    margin-left: 10px; 
    background-color: none;
    /* opacity: 1; */
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #72addb;;
    background-color: none;
    /* opacity: 1; */
}

.dropdown:hover .dropbtn {
    background-color: #f0dbec;
    /* color: #72addb; */

}

#titleh2 {
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 50%;
    height: 1.5em;
    background-color: none;
    border: none;
    /* border-radius: 20px; */
    padding: 1px;
    font-size: 1.5em;
}

#imgbox {
    display: none;
    height: 3em;
    width: 3em;
    border-radius: 100%;
}
#labelfirstname{
    margin-top: 0px;

}

#namebox {
    display: none;
    margin-top: 60px;
    margin-right: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 5em;
    padding-top: 0px;
    width: 5em;
    height: 1em;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #a277d0;
}

#logoutBtn {
    border-radius: 20px;
    border: none;
    width: 100%;
    background-color: #f0dbec;
    font-size: 10px;
    font-weight: bold;

    /* opacity: 0.5; */
    /* z-index: 1; */
}

#logoutBtn:hover {
    background-color: #f0dbec;
    opacity: 1;
    border-radius: 20px;
    color: blue ;
    border: none;
    font-weight: bolder;
    font-size: 15px;

}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 15em;
    height: 20em;
    box-shadow: 10px 10px 5px rgb(182, 185, 185);
    border-radius: 20px;
    background-color: #d1c3f0;
    padding: 15px;
}

#cart {
    width: 4em;
    height: 4em;
    border-radius: 50px;
}

#add-btn-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#input-field:hover {
    background-color: aliceblue;
}

#input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 2em;
    border-radius: 10px;
    background-color: rgb(226, 221, 221);
    color: #45095a;
    margin: 5px;
    text-align: center;
    border: none;
}

#price-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 1.5em;
    border-radius: 10px;
    background-color: rgb(242, 238, 238);
    margin: 5px;
    text-align: center;
    border: none;
    overflow: hidden;

}

#add-button:hover {
    background-color: rgb(215, 58, 100);
}

#add-button {
    background-color: rgba(18, 123, 130, 0.848);
    box-shadow: 2px 10px 5px rgb(182, 185, 185);
    border: none;
    height: 2em;
    width: 15em;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

#shopping-item-list {
    width: 100%;
    gap: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shoppingItemP:hover {
    background-color: rgba(150, 160, 213, 0.408);
    cursor: pointer;
}

#table {
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;

    /* border: 2px solid white; */
    border: none;
}
#pricetd{
    text-align: right;

}

#itemTxtid {
    text-align: left;
    padding: 0px;
    background-color: rgb(0, 119, 255);
    border-radius: 20px;
    width: 30%;
    border: none;
}

#nameTxtid {
    text-align: left;
    padding: 0px;
    background-color: rgb(219, 221, 224);
    width: 30%;
    border: none;
    border-radius: 20px;

}

#td {
    text-align: center;
    padding: 0px;
    width: 40%;
    border: none;
    border-radius: 20px;
}

#editImg {
    height: 1em;
    width: 1em;
    border-radius: 20px;

}

#emptyList:hover {
    background-color: rgba(110, 114, 105, 0.263);
    border-radius: 10px;
    padding: 5px;
    border: none;
}

#emptyList {
    border-radius: 10px;
    padding: 5px;
    border: none;
}

#deleteRowBtn {
    border-radius: 10px;
    padding: 5px;
    border: none;
}

#deleteRowBtn:hover {
    background-color: rgba(110, 114, 105, 0.263);
    border-radius: 10px;
    padding: 5px;
    border: none;
}
.dark-theme {
    background-color: #0c0c0cb1;
    color: #ffffff;
}
.dark-theme:hover {
    background-color: #0c0c0cb1;
    color: #ffffff;
}

.dark-theme table th,
.dark-theme table td {
    color: rgba(100, 151, 170, 0.967);
}

.dark-theme input {
    background-color: #333;
    color: #de9ecbec;
}
.dark-theme p {
    background-color: #333;
    color: #fff;
}

.dark-theme #logoutBtn{
    background-color: #0c0c0cb1;
    /* opacity: 0.5; */

}
.dark-theme #logoutBtn:hover{
    background-color: #0c0c0cb1;
    color: #2c3faa ;

}

.dark-theme button {
    background-color: #8e1bb8;
    color: #b070a5;
}
